[user]
  name = kirinrastogi
  email = kirin.rastogi@shopify.com

[credential "https://github.com"]
  username = kirinrastogi
[credential]
  helper = cache --timeout=360000
[url "git@github.com:"]
  insteadOf = https://github.com/
